<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^\.well-known/ - [L]
    #remove index.php from url
     RewriteCond %{THE_REQUEST} \s/+index\.php[?\s]
    RewriteRule ^index\.php$ / [R=301,L]
   

    # Disable directory browsing
    Options -Indexes

    # 1. Force HTTPS
    # RewriteCond %{HTTPS} !=on
    # RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
    RewriteCond %{HTTPS} off
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # 2. Redirect non-www to www (uncomment if you want www)
    RewriteCond %{HTTP_HOST} ^corporatesacademy\.com [NC]
    RewriteRule ^(.*)$ https://www.corporatesacademy.com/$1 [L,R=301,NC]
    
    # 3. Remove trailing slash (except for root /)
    RewriteCond %{REQUEST_URI} ^(.+)/$
    RewriteCond %{REQUEST_URI} !^/$
    RewriteRule ^(.*)/$ /$1 [R=301,L]
    
    
    # 4. Remove multiple slashes
    RewriteCond %{THE_REQUEST} //
    RewriteRule ^(.*)$ /$1 [R=301,L]

 
    

    # 5. Internally redirect all requests to public folder
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/$1 [L]


    #RewriteRule ^\.well-known/ - [L]
 
    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>


# Set security headers
<IfModule mod_headers.c>
    Header always set X-Content-Type-Options "nosniff"
    Header always set X-Frame-Options "SAMEORIGIN"
    Header always set X-XSS-Protection "1; mode=block"
</IfModule>

# Increase upload limit for base64 images/videos
<IfModule mod_php.c>
    php_value upload_max_filesize 20M
    php_value post_max_size 25M
    php_value memory_limit 256M
    php_value max_execution_time 60
</IfModule>
